# Project exclude paths
/bin/custom/reviews/reviewsbackoffice/.externalToolBuilders/
/bin/custom/reviews/reviewsbackoffice/.settings/
/bin/custom/reviews/reviewsbackoffice/backoffice/classes/
/bin/custom/reviews/reviewsbackoffice/classes/
/bin/custom/reviews/reviewscore/.externalToolBuilders/
/bin/custom/reviews/reviewscore/.settings/
/bin/custom/reviews/reviewscore/classes/
/bin/custom/reviews/reviewsfacades/.externalToolBuilders/
/bin/custom/reviews/reviewsfacades/.settings/
/bin/custom/reviews/reviewsfacades/classes/
/bin/custom/reviews/reviewsinitialdata/.externalToolBuilders/
/bin/custom/reviews/reviewsinitialdata/.settings/
/bin/custom/reviews/reviewsinitialdata/classes/
/bin/custom/reviews/reviewsservices/.externalToolBuilders/
/bin/custom/reviews/reviewsservices/.settings/
/bin/custom/reviews/reviewsservices/classes/
/bin/custom/reviews/reviewsservices/web/webroot/WEB-INF/classes/
/bin/custom/reviews/reviewsstorefront/.externalToolBuilders/
/bin/custom/reviews/reviewsstorefront/.settings/
/bin/custom/reviews/reviewsstorefront/web/addonsrc/
/bin/custom/reviews/reviewsstorefront/web/commonwebsrc/
/bin/custom/reviews/reviewsstorefront/web/testclasses/
/bin/custom/reviews/reviewsstorefront/web/webroot/WEB-INF/classes/
/bin/custom/training/trainingbackoffice/.externalToolBuilders/
/bin/custom/training/trainingbackoffice/.settings/
/bin/custom/training/trainingbackoffice/backoffice/classes/
/bin/custom/training/trainingbackoffice/classes/
/bin/custom/training/trainingbackoffice/eclipsebin/
/bin/custom/training/trainingcore/.externalToolBuilders/
/bin/custom/training/trainingcore/.settings/
/bin/custom/training/trainingcore/classes/
/bin/custom/training/trainingcore/eclipsebin/
/bin/custom/training/trainingfacades/.externalToolBuilders/
/bin/custom/training/trainingfacades/.settings/
/bin/custom/training/trainingfacades/classes/
/bin/custom/training/trainingfacades/eclipsebin/
/bin/custom/training/traininginitialdata/.externalToolBuilders/
/bin/custom/training/traininginitialdata/.settings/
/bin/custom/training/traininginitialdata/classes/
/bin/custom/training/traininginitialdata/eclipsebin/
/bin/custom/training/trainingservices/.externalToolBuilders/
/bin/custom/training/trainingservices/.settings/
/bin/custom/training/trainingservices/classes/
/bin/custom/training/trainingservices/eclipsebin/
/bin/custom/training/trainingservices/web/webroot/WEB-INF/classes/
/bin/custom/training/trainingstorefront/.externalToolBuilders/
/bin/custom/training/trainingstorefront/.settings/
/bin/custom/training/trainingstorefront/eclipsebin/
/bin/custom/training/trainingstorefront/web/addonsrc/
/bin/custom/training/trainingstorefront/web/commonwebsrc/
/bin/custom/training/trainingstorefront/web/testclasses/
/bin/custom/training/trainingstorefront/web/webroot/WEB-INF/classes/
/bin/modules/adaptive-search/adaptivesearch/.settings/
/bin/modules/adaptive-search/adaptivesearchbackoffice/.settings/
/bin/modules/adaptive-search/adaptivesearchfacades/.settings/
/bin/modules/adaptive-search/adaptivesearchsamplesaddon/.settings/
/bin/modules/adaptive-search/adaptivesearchsolr/.settings/
/bin/modules/adaptive-search/adaptivesearchwebservices/.settings/
/bin/modules/api-registry/apiregistrybackoffice/.externalToolBuilders/
/bin/modules/api-registry/apiregistrybackoffice/backoffice/classes/
/bin/modules/api-registry/apiregistryservices/.externalToolBuilders/
/bin/modules/assisted-services/assistedservicecustomerinterestsaddon/.externalToolBuilders/
/bin/modules/assisted-services/assistedservicecustomerinterestsaddon/.settings/
/bin/modules/assisted-services/assistedservicecustomerinterestsfacades/.externalToolBuilders/
/bin/modules/assisted-services/assistedservicecustomerinterestsfacades/.settings/
/bin/modules/assisted-services/assistedservicefacades/.externalToolBuilders/
/bin/modules/assisted-services/assistedservicefacades/.settings/
/bin/modules/assisted-services/assistedservicepromotionaddon/.externalToolBuilders/
/bin/modules/assisted-services/assistedservicepromotionaddon/.settings/
/bin/modules/assisted-services/assistedservicepromotionfacades/.externalToolBuilders/
/bin/modules/assisted-services/assistedservicepromotionfacades/.settings/
/bin/modules/assisted-services/assistedserviceservices/.externalToolBuilders/
/bin/modules/assisted-services/assistedserviceservices/.settings/
/bin/modules/assisted-services/assistedservicestorefront/.externalToolBuilders/
/bin/modules/assisted-services/assistedservicestorefront/.settings/
/bin/modules/assisted-services/assistedservicewebservices/.settings/
/bin/modules/assisted-services/assistedservicewebservices/web/testclasses/
/bin/modules/assisted-services-integrations/assistedserviceyprofileaddon/.externalToolBuilders/
/bin/modules/assisted-services-integrations/assistedserviceyprofileaddon/.settings/
/bin/modules/assisted-services-integrations/assistedserviceyprofilefacades/.externalToolBuilders/
/bin/modules/assisted-services-integrations/assistedserviceyprofilefacades/.settings/
/bin/modules/assisted-services-integrations/yaasyprofileconnect/.externalToolBuilders/
/bin/modules/assisted-services-integrations/yaasyprofileconnect/.settings/
/bin/modules/b2b-accelerator/commerceorgsamplesaddon/.externalToolBuilders/
/bin/modules/b2b-accelerator/commerceorgsamplesaddon/.settings/
/bin/modules/b2c-accelerator/apparelstore/.externalToolBuilders/
/bin/modules/b2c-accelerator/apparelstore/.settings/
/bin/modules/b2c-accelerator/electronicsstore/.externalToolBuilders/
/bin/modules/b2c-accelerator/electronicsstore/.settings/
/bin/modules/b2c-accelerator-addons/captchaaddon/.externalToolBuilders/
/bin/modules/b2c-accelerator-addons/captchaaddon/.settings/
/bin/modules/backoffice-addons/pcmbackofficesamplesaddon/.externalToolBuilders/
/bin/modules/backoffice-addons/pcmbackofficesamplesaddon/.settings/
/bin/modules/backoffice-applications/pcmbackoffice/.settings/
/bin/modules/backoffice-framework/backoffice/.settings/
/bin/modules/backoffice-framework/backoffice/web/testclasses/
/bin/modules/backoffice-framework/backofficesolrsearch/.settings/
/bin/modules/backoffice-framework/platformbackoffice/.settings/
/bin/modules/base-commerce/basecommerce/.settings/
/bin/modules/base-commerce/basecommercebackoffice/.settings/
/bin/modules/base-commerce/customerreview/.settings/
/bin/modules/base-commerce/payment/.settings/
/bin/modules/base-commerce/promotions/.settings/
/bin/modules/base-commerce/promotionsbackoffice/.settings/
/bin/modules/base-commerce/voucher/.settings/
/bin/modules/base-commerce/voucherbackoffice/.settings/
/bin/modules/cds-merchandising/merchandisingcmswebservices/web/testclasses/
/bin/modules/cds-merchandising/merchandisingservicesbackoffice/backoffice/classes/
/bin/modules/cds-merchandising/merchandisingsmartedit/smartedit-custom-build/
/bin/modules/commerce-services/commercefacades/.externalToolBuilders/
/bin/modules/commerce-services/commercefacades/.settings/
/bin/modules/commerce-services/commerceservices/.externalToolBuilders/
/bin/modules/commerce-services/commerceservices/.settings/
/bin/modules/commerce-services/commerceservicesbackoffice/.settings/
/bin/modules/commerce-services/commercewebservicescommons/.externalToolBuilders/
/bin/modules/commerce-services/commercewebservicescommons/.settings/
/bin/modules/commerce-services/ycommercewebservices/.externalToolBuilders/
/bin/modules/commerce-services/ycommercewebservices/.settings/
/bin/modules/commerce-services/ycommercewebservices/web/addonsrc/
/bin/modules/commerce-services/ycommercewebservices/web/testclasses/
/bin/modules/commerce-services/ycommercewebservicestest/.externalToolBuilders/
/bin/modules/commerce-services/ycommercewebservicestest/.settings/
/bin/modules/configurable-bundle/configurablebundleaddon/.externalToolBuilders/
/bin/modules/configurable-bundle/configurablebundlefacades/.externalToolBuilders/
/bin/modules/configurable-bundle/configurablebundlefacades/.settings/
/bin/modules/configurable-bundle/configurablebundleservices/.externalToolBuilders/
/bin/modules/configurable-bundle/configurablebundleservices/.settings/
/bin/modules/consignment-tracking/consignmenttrackingaddon/.externalToolBuilders/
/bin/modules/consignment-tracking/consignmenttrackingaddon/.settings/
/bin/modules/consignment-tracking/consignmenttrackingbackoffice/.settings/
/bin/modules/consignment-tracking/consignmenttrackingfacades/.externalToolBuilders/
/bin/modules/consignment-tracking/consignmenttrackingfacades/.settings/
/bin/modules/consignment-tracking/consignmenttrackingmock/.externalToolBuilders/
/bin/modules/consignment-tracking/consignmenttrackingmock/.settings/
/bin/modules/consignment-tracking/consignmenttrackingoccaddon/.settings/
/bin/modules/consignment-tracking/consignmenttrackingservices/.externalToolBuilders/
/bin/modules/consignment-tracking/consignmenttrackingservices/.settings/
/bin/modules/core-accelerator/acceleratorbackoffice/.settings/
/bin/modules/core-accelerator/acceleratorcms/.externalToolBuilders/
/bin/modules/core-accelerator/acceleratorcms/.settings/
/bin/modules/core-accelerator/acceleratorfacades/.externalToolBuilders/
/bin/modules/core-accelerator/acceleratorfacades/.settings/
/bin/modules/core-accelerator/acceleratorservices/.externalToolBuilders/
/bin/modules/core-accelerator/acceleratorservices/.settings/
/bin/modules/core-accelerator/acceleratorservices/web/testclasses/
/bin/modules/core-accelerator/acceleratorstorefrontcommons/.externalToolBuilders/
/bin/modules/core-accelerator/acceleratorstorefrontcommons/.settings/
/bin/modules/core-accelerator/acceleratorwebservicesaddon/.externalToolBuilders/
/bin/modules/core-accelerator/acceleratorwebservicesaddon/.settings/
/bin/modules/core-accelerator/addonsupport/.externalToolBuilders/
/bin/modules/core-accelerator/addonsupport/.settings/
/bin/modules/coupon/couponbackoffice/.settings/
/bin/modules/coupon/couponfacades/.settings/
/bin/modules/coupon/couponservices/.settings/
/bin/modules/customer-interest/customerinterestsaddon/.externalToolBuilders/
/bin/modules/customer-interest/customerinterestsaddon/.settings/
/bin/modules/customer-interest/customerinterestsfacades/.externalToolBuilders/
/bin/modules/customer-interest/customerinterestsfacades/.settings/
/bin/modules/customer-interest/customerinterestsoccaddon/.settings/
/bin/modules/customer-interest/customerinterestsservices/.externalToolBuilders/
/bin/modules/customer-interest/customerinterestsservices/.settings/
/bin/modules/customer-service/customersupportbackoffice/.externalToolBuilders/
/bin/modules/customer-service/customersupportbackoffice/.settings/
/bin/modules/customer-service/customerticketingaddon/.externalToolBuilders/
/bin/modules/customer-service/customerticketingaddon/.settings/
/bin/modules/customer-service/customerticketingfacades/.externalToolBuilders/
/bin/modules/customer-service/customerticketingfacades/.settings/
/bin/modules/customer-service/ticketsystem/.settings/
/bin/modules/customer-service/ticketsystembackoffice/.settings/
/bin/modules/integration-apis/inboundservices/.externalToolBuilders/
/bin/modules/integration-apis/integrationbackoffice/backoffice/classes/
/bin/modules/integration-apis/integrationmonitoringbackoffice/backoffice/classes/
/bin/modules/integration-apis/integrationservices/.externalToolBuilders/
/bin/modules/integration-apis/integrationservices/.settings/
/bin/modules/integration-apis/odata2services/.externalToolBuilders/
/bin/modules/integration-apis/odata2services/.settings/
/bin/modules/integration-apis/odata2webservices/.externalToolBuilders/
/bin/modules/integration-apis/odata2webservices/.settings/
/bin/modules/integration-apis/odata2webservices/web/testclasses/
/bin/modules/integration-apis/odata2webservicesfeaturetests/.externalToolBuilders/
/bin/modules/integration-apis/odata2webservicesfeaturetests/.settings/
/bin/modules/integration-apis/outboundservices/.externalToolBuilders/
/bin/modules/integration-apis/outboundsync/.externalToolBuilders/
/bin/modules/integration-apis/outboundsyncbackoffice/backoffice/classes/
/bin/modules/notification/notificationaddon/.externalToolBuilders/
/bin/modules/notification/notificationaddon/.settings/
/bin/modules/notification/notificationfacades/.externalToolBuilders/
/bin/modules/notification/notificationfacades/.settings/
/bin/modules/notification/notificationoccaddon/.settings/
/bin/modules/notification/notificationservices/.externalToolBuilders/
/bin/modules/notification/notificationservices/.settings/
/bin/modules/npm-ancillary/npmancillary/.externalToolBuilders/
/bin/modules/npm-ancillary/npmancillary/.settings/
/bin/modules/order-management/ordermanagementfacades/.externalToolBuilders/
/bin/modules/order-management/ordermanagementfacades/.settings/
/bin/modules/order-management/orderselfserviceaddon/.externalToolBuilders/
/bin/modules/order-management/orderselfserviceaddon/.settings/
/bin/modules/personalization/personalizationaddon/.settings/
/bin/modules/personalization/personalizationcms/.settings/
/bin/modules/personalization/personalizationcmsbackoffice/.settings/
/bin/modules/personalization/personalizationcmsweb/.settings/
/bin/modules/personalization/personalizationfacades/.settings/
/bin/modules/personalization/personalizationsampledataaddon/.settings/
/bin/modules/personalization/personalizationservices/.settings/
/bin/modules/personalization/personalizationservicesbackoffice/.settings/
/bin/modules/personalization/personalizationsmartedit/.settings/
/bin/modules/personalization/personalizationsmartedit/smartedit-custom-build/
/bin/modules/personalization/personalizationwebservices/.settings/
/bin/modules/personalization/personalizationwebservices/web/testclasses/
/bin/modules/personalization/previewpersonalizationweb/.settings/
/bin/modules/personalization-integration/personalizationintegration/.settings/
/bin/modules/personalization-integration/personalizationintegrationbackoffice/.settings/
/bin/modules/personalization-integration/personalizationyprofile/.settings/
/bin/modules/personalization-integration/personalizationyprofilesampledataaddon/.settings/
/bin/modules/personalization-promotion/personalizationpromotions/.settings/
/bin/modules/personalization-promotion/personalizationpromotionsbackoffice/.settings/
/bin/modules/personalization-promotion/personalizationpromotionssampledataaddon/.settings/
/bin/modules/personalization-promotion/personalizationpromotionssmartedit/.settings/
/bin/modules/personalization-promotion/personalizationpromotionssmartedit/smartedit-custom-build/
/bin/modules/personalization-promotion/personalizationpromotionsweb/.settings/
/bin/modules/personalization-search/personalizationsearch/.settings/
/bin/modules/personalization-search/personalizationsearchbackoffice/.settings/
/bin/modules/personalization-search/personalizationsearchsamplesaddon/.externalToolBuilders/
/bin/modules/personalization-search/personalizationsearchsamplesaddon/.settings/
/bin/modules/personalization-search/personalizationsearchsmartedit/.settings/
/bin/modules/personalization-search/personalizationsearchsmartedit/smartedit-custom-build/
/bin/modules/personalization-search/personalizationsearchweb/.settings/
/bin/modules/platform/auditreportservices/.settings/
/bin/modules/platform/deltadetection/.settings/
/bin/modules/platform/embeddedserver/.settings/
/bin/modules/platform/groovynature/.externalToolBuilders/
/bin/modules/platform/groovynature/.settings/
/bin/modules/platform/tomcatembeddedserver/.settings/
/bin/modules/promotion-engine/promotionenginebackoffice/.settings/
/bin/modules/promotion-engine/promotionenginesamplesaddon/.settings/
/bin/modules/promotion-engine/promotionengineservices/.settings/
/bin/modules/rule-engine/droolsruleengineservices/.settings/
/bin/modules/rule-engine/ordercalculation/.settings/
/bin/modules/rule-engine/rulebuilderbackoffice/.settings/
/bin/modules/rule-engine/ruledefinitions/.settings/
/bin/modules/rule-engine/ruleengine/.settings/
/bin/modules/rule-engine/ruleenginebackoffice/.settings/
/bin/modules/rule-engine/ruleengineservices/.settings/
/bin/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationbackoffice/.externalToolBuilders/
/bin/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationbackoffice/backoffice/classes/
/bin/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationservices/.externalToolBuilders/
/bin/modules/search-and-navigation/solrfacetsearch/.settings/
/bin/modules/search-and-navigation/solrfacetsearchbackoffice/.settings/
/bin/modules/search-and-navigation/solrserver/.settings/
/bin/modules/smartedit/cmssmartedit/smartedit-custom-build/
/bin/modules/smartedit/cmssmarteditwebservices/.settings/
/bin/modules/smartedit/cmssmarteditwebservices/web/testclasses/
/bin/modules/smartedit/smartedit/.settings/
/bin/modules/smartedit/smartedit/smartedit-build/
/bin/modules/smartedit/smartedit/smartedit-custom-build/
/bin/modules/smartedit/smarteditaddon/.externalToolBuilders/
/bin/modules/smartedit/smarteditaddon/.settings/
/bin/modules/smartedit/smarteditwebservices/.externalToolBuilders/
/bin/modules/smartedit/smarteditwebservices/.settings/
/bin/modules/smartedit/smarteditwebservices/web/testclasses/
/bin/modules/stock-notification/stocknotificationaddon/.externalToolBuilders/
/bin/modules/stock-notification/stocknotificationaddon/.settings/
/bin/modules/stock-notification/stocknotificationfacades/.externalToolBuilders/
/bin/modules/stock-notification/stocknotificationfacades/.settings/
/bin/modules/stock-notification/stocknotificationservices/.externalToolBuilders/
/bin/modules/stock-notification/stocknotificationservices/.settings/
/bin/modules/text-field-configurator-template/textfieldconfiguratortemplateaddon/.externalToolBuilders/
/bin/modules/text-field-configurator-template/textfieldconfiguratortemplateaddon/.settings/
/bin/modules/text-field-configurator-template/textfieldconfiguratortemplatebackoffice/.externalToolBuilders/
/bin/modules/text-field-configurator-template/textfieldconfiguratortemplatebackoffice/.settings/
/bin/modules/text-field-configurator-template/textfieldconfiguratortemplatefacades/.externalToolBuilders/
/bin/modules/text-field-configurator-template/textfieldconfiguratortemplatefacades/.settings/
/bin/modules/text-field-configurator-template/textfieldconfiguratortemplateservices/.externalToolBuilders/
/bin/modules/text-field-configurator-template/textfieldconfiguratortemplateservices/.settings/
/bin/modules/web-content-management-system/cms2/.settings/
/bin/modules/web-content-management-system/cms2lib/.settings/
/bin/modules/web-content-management-system/cmsbackoffice/.settings/
/bin/modules/web-content-management-system/cmsfacades/.settings/
/bin/modules/web-content-management-system/cmsoccaddon/.externalToolBuilders/
/bin/modules/web-content-management-system/cmsoccaddon/.settings/
/bin/modules/web-content-management-system/cmswebservices/.settings/
/bin/modules/web-content-management-system/cmswebservices/web/testclasses/
/bin/modules/web-content-management-system/previewwebservices/.settings/
/bin/modules/web-content-management-system/previewwebservices/web/testclasses/
/bin/modules/web-services-commons/permissionsfacades/.settings/
/bin/modules/web-services-commons/permissionswebservices/.settings/
/bin/modules/web-services-commons/webservicescommons/.settings/
/bin/modules/yforms/xyformsbackoffice/.externalToolBuilders/
/bin/modules/yforms/xyformsbackoffice/.settings/
/bin/modules/yforms/xyformsbackoffice/backoffice/classes/
/bin/modules/yforms/xyformsfacades/.externalToolBuilders/
/bin/modules/yforms/xyformsfacades/.settings/
/bin/modules/yforms/xyformssamples/.externalToolBuilders/
/bin/modules/yforms/xyformssamples/.settings/
/bin/modules/yforms/xyformsservices/.externalToolBuilders/
/bin/modules/yforms/xyformsservices/.settings/
/bin/modules/yforms/xyformsstorefrontcommons/.externalToolBuilders/
/bin/modules/yforms/xyformsstorefrontcommons/.settings/
/bin/modules/yforms/xyformsweb/.externalToolBuilders/
/bin/modules/yforms/xyformsweb/.settings/
/bin/modules/yforms/xyformsweb/web/testclasses/
/bin/platform/.externalToolBuilders/
/bin/platform/.settings/
/bin/platform/bootstrap/modelclasses/
/bin/platform/eclipsebin/
/bin/platform/ext/advancedsavedquery/.settings/
/bin/platform/ext/catalog/.settings/
/bin/platform/ext/comments/.settings/
/bin/platform/ext/commons/.settings/
/bin/platform/ext/core/.settings/
/bin/platform/ext/deliveryzone/.settings/
/bin/platform/ext/europe1/.settings/
/bin/platform/ext/hac/.settings/
/bin/platform/ext/hac/web/testclasses/
/bin/platform/ext/impex/.settings/
/bin/platform/ext/maintenanceweb/.settings/
/bin/platform/ext/mediaweb/.settings/
/bin/platform/ext/oauth2/.settings/
/bin/platform/ext/paymentstandard/.settings/
/bin/platform/ext/platformservices/.settings/
/bin/platform/ext/scripting/.settings/
/bin/platform/ext/testweb/.settings/
/bin/platform/ext/testweb/web/testclasses/
/bin/platform/ext/validation/.settings/
/bin/platform/ext/workflow/.settings/
/bin/platform/tomcat/